@font-face {
    font-family: 'bold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'extrabold';
    src: url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
  position: relative;
}

.bg-color {
  background: #2b2b33;
}

// стили для карты
a[href^="http://maps.google.com/maps"] {
  display:none !important
}
a[href^="https://maps.google.com/maps"] {
  display:none !important
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}

.fullpage {
  border-radius: 4px;
  transform: translate(-190px, -10px) scale(0.6, 0.6) !important;
  opacity: 0.5;
  pointer-events: none;
}


// Стили страницы

.main-section {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  &__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  .container {
    z-index: 20;
    position: relative;
    color: #fff;
    max-width: 740px;

    @include adaptive(pad) {
      margin-left: 25px;
    }
  }
}

.main-header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 42px;
  padding-top: 30px;

  @include clearfix-micro();


  &__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    @include adaptive(pad) {
      margin: 0 25px;
      max-width: auto;
      width: initial;
    }

    @include clearfix-micro();
  }

  .logo {
    position: relative;
    transition: all 500ms ease;
    display: inline-block;
    margin-right: -4px;
    margin-top: 5px;
    float: left;

    &:hover {
      cursor: pointer;

      .logo-line-1-rectangle {
        width: 0;
        margin-left: 0;
      }

      .logo-line-2-rectangle {
        width: 0;
        margin-right: 0;
      }

      .logo-line-studio {
        margin-left: 31px;
      }
    }

    &-line {

      &-1, &-2 {
        position: relative;
        transition: all 500ms ease;
      }

      &-1-rectangle {
        width: 20px;
        height: 4px;
        background-color: #fff;
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 1px;
        transition: all 500ms ease;
      }

      &-2-rectangle {
        width: 26px;
        height: 4px;
        background-color: #fff;
        display: inline-block;
        margin-bottom: 5px;
        margin-left: 1px;
        transition: all 500ms ease;
      }

      &-consul {
        width: 75px;
        height: 14px;
        background: url('../img/consul_w.svg') no-repeat;
        display: inline-block;
        transition: all 500ms ease;
      }

      &-studio {
        width: 69px;
        height: 14px;
        background: url('../img/studio_w.svg') no-repeat;
        display: inline-block;
        transition: all 500ms ease;
      }

    }
  }

  .top-menu {
    float: left;
    padding-top: 12px;

    &-list {
      margin: 0 0 0 5px;
      padding: 0;

      .item {
        transition: all 500ms ease;
        visibility: hidden;
        list-style: none;
        display: inline-block;
        opacity: 0;

        &-link {
          color: #fff;
          text-transform: uppercase;
          margin: 0;
          display: inline-block;
          font-family: 'extrabold';
          font-size: 12px;
          text-decoration: none;
          transition: all 300ms ease;
          cursor: pointer;

          &:hover {
            color: #5054e9;
          }
        }
      }

      &--active {
        .item {
          opacity: 1;
          margin-left: 40px;
          visibility: visible;
        }
      }

      &:hover {
        .item {
          opacity: 1;
          margin-left: 40px;
          visibility: visible;
        }
      }

    }
  }

  .top-button {
    float: right;
  }

  .button {
    text-transform: uppercase;
    background: transparent;
    outline: none;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid #fff;
    padding: 12px 28px 12px 28px;
    color: #fff;
    font-family: 'extrabold';
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 300ms ease;

    &:hover {
      background: #5054e9;
      border: 2px solid #5054e9;
    }
  }
}

.top-video {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  width: auto;
  left: 0;
}

.main-title {
  color: #fff;
  margin: 0;
  font-family: 'extrabold';
  font-size: 48px;
  margin-bottom: 18px;
  line-height: 48px;
}

.main-description {
  margin: 0;
  display: inline-block;
  font-family: 'bold';
  font-size: 16px;
  color: #fff;
  line-height: 25px;
}

.mouse-animation {
  bottom: 40px;
  position: absolute;
  cursor: pointer;

  @include adaptive(pad) {
    left: 25px;
  }

  .mouse {
    vertical-align: top;
    width: 20px;
    height: 38px;
    border-radius: 30px;
    border: 2px solid #fff;
    transition: all 500ms ease;
    display: inline-block;

    .scroll {
      margin: 0 auto;
      width: 4px;
      height: 10px;
      background-color: #fff;
      border-radius: 4px;
      margin-top: 6px;
      transition: all 500ms ease;
      animation-name: srcoll;
      animation: scroll 1.5s infinite;
    }

    &-action {
      color: #fff;
      display: inline-block;
      padding-top: 15px;
      padding-left: 10px;
      font-family: 'extrabold';
      font-size: 12px;
      margin: 0;
      text-transform: uppercase;
      color: #fff;
    }
  }
}

@keyframes scroll {
  0% {
    margin-top: 6px;
    height: 10px;
  }

  25% {
    height: 4px;
  }

  50% {
    margin-top: 20px;
    height: 4px;
  }

  100% {
    margin-top: 6px;
    height: 10px;
  }
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.mouse-link {
  text-decoration: none;
}

@include fn-viewing(services, #2b2b33);
@include fn-viewing(works, #2b2b33);
@include fn-viewing(contacts, #2b2b33);

.services {
  background-color: #fff;

  &-title {
    font-size: 36px;
    margin-bottom: 11px;
    margin: 0;
    font-family: 'extrabold';
    color: #292933;
    margin-bottom: 18px;
    line-height: 48px;
    max-width: 560px;
  }

  &-description {
    margin: 0;
    display: inline-block;
    font-family: 'bold';
    font-size: 16px;
    color: #292933;
    line-height: 25px;
    max-width: 600px;
  }

  .wrapper {
    position: relative;
    height: auto;

    @include adaptive(pad) {
      margin: 0 25px;
    }
  }

	.what-we-do {
		margin-top: 33px;

    @include adaptive(pad) {
      margin-right: 47px;

      @include clearfix-micro();
    }

		.item {
			display: inline-block;
			width: 295px;
			height: 360px;
			border-radius: 4px;
			position: relative;
			vertical-align: top;
			overflow: hidden;
      margin-right: 1px;

      @include adaptive(pad) {
        width: 49%;
        height: 240px;

        &:nth-child(1) {
          margin-bottom: 20px;
        }

        &:nth-child(2) {
          margin-bottom: 20px;
        }

        &:nth-child(2n+1) {
          float: left;
        }

        &:nth-child(2n) {
          float: right;
        }
      }

			&:hover {
				cursor: pointer;
			}

			&-video {
				position: absolute;
				top: -1px;
				left: 0;
				z-index: 0;

        @include adaptive(pad) {
          width: 100%;
        }

				video {
					width: 100%;
					border-radius: 6px;
					left: 0;
					top: 0;
				}
			}

			&-wrapper {
				padding: 40px 40px 20px 40px;
				position: relative;
				z-index: 1;
			}

			&-title {
				font-family: 'extrabold';
				font-size: 18px;
				color: #fff;
				margin: 0 0 10px 0;
			}

			&-description {
				font-size: 14px;
    		line-height: 20px;
				color: #fff;
				font-family: 'bold';
				margin-bottom: 0;
			}

			&-action {
				border-radius: 2px;
		    background: rgba(255,255,255,0.9);
		    width: 100%;
		    height: 30px;
		    margin-top: 168px;
		    text-align: center;
		    z-index: 1;
		    box-shadow: 0 0 5px rgba(0, 0, 0, 0.315);
				display: inline-block;
				border: none;
				outline: none;
        cursor: pointer;

        @include adaptive(pad) {
          margin-top: 50px;
        }

				span {
					color: #292933;
					line-height: 30px;
					font-family: 'extrabold';
			    font-size: 14px;
				}
			}
		}
	}
}


.contacts {
	background: url('../img/contacts.png') no-repeat;
	background-size: cover;
  background-position: center;

  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  &-title {
    text-align: center;
    margin: 0;
    font-family: 'extrabold';
    font-size: 48px;
    color: #292933;
    margin-bottom: 18px;
    line-height: 48px;
  }

  &-description {
    font-family: 'extrabold';
    color: #292933;
    line-height: 30px;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    text-align: center;
  }

  &-link {
    color: #666680;
    text-decoration: none;
    font-family: 'bold';
  }

  &-map {
    height: 250px;
    max-width: 500px;
    margin: 20px auto 0;
  }
}

.works {
  background: url('../img/project_1.png') no-repeat;
  background-size: cover !important;
  background-position: center !important;

  &-wrapper {
    margin: 0 auto;
    max-width: 1200px;
  }

  .works--white {

  }

  &-item {
    max-width: 550px;

    &:nth-child(1) {
      &:hover {
        .title {
          opacity: 1;
        }
      }
    }

    &:nth-child(2) {
      &:hover {

        & .work-item {
          .title {
            color: #fff;
          }
        }

        .title {
          color: #fff;
          opacity: 1;
        }

      }

    }

    &:nth-child(3) {
      &:hover {
        .title {
          opacity: 1;
        }
      }
    }

    &:nth-child(4) {
      &:hover {
        .title {
          color: #fff;
          opacity: 1;
        }
      }
    }

    &__wrapper {
      opacity: 0;
      visibility: hidden;
      height: 0;
      transition: all 500ms ease;
    }

    &--active {
      margin-bottom: 51px;
      margin-top: 33px;

      &.works-item .title {
        font-size: 48px;
        opacity: 1;

        &:hover {
          margin-left: 0;
        }
      }

      .works-item__wrapper {
        opacity: 1;
        visibility: visible;
        height: auto;
      }
    }

    .title {
      font-size: 36px;
      font-family: 'extrabold';
      opacity: 0.5;
      color: #292933;
      margin: 0 0 18px 0;
      line-height: 48px;
      cursor: pointer;
      transition: all 500ms ease;

      &:hover {
        margin: 0 0 18px 35px;
      }
    }

    .description {
      margin: 0;
      display: inline-block;
      font-family: 'bold';
      font-size: 16px;
      color: #292933;
      line-height: 25px;
    }

    .arrow {
      background: url("../img/arrow_right.svg") no-repeat;
      height: 8px;
      margin-top: 7px;
      margin-left: 10px;
      width: 20px;
      display: inline-block;
      transition: all 300ms ease;
    }

    .link {
      margin: 0;
      display: inline-block;
      font-family: 'extrabold';
      font-size: 12px;
      color: #292933;
      text-transform: uppercase;
      text-decoration: none;
      margin-top: 16px;
      cursor: pointer;

      &:hover {
        .arrow {
          margin-left: 25px;
        }
      }
    }
  }
}

.project {

  &_1 {
    background: url('../img/project_1.png') no-repeat !important;
    background-position: center !important;
    background-size: cover !important;

    .works-item {
      .title {
        color: #292933 !important;
      }
      .description {
        color: #292933 !important;
      }

      .link {
        color: #292933 !important;
      }

      .arrow {
        background: url('../img/arrow_right.svg') no-repeat !important;
      }
    }
  }
  &_2 {
    background: url('../img/project_2.png') no-repeat !important;
    background-position: center !important;
    background-size: cover !important;




    .works-item {
      .title {
        color: #fff !important;
      }
      .description {
        color: #fff !important;
      }

      .link {
        color: #fff !important;
      }

      .arrow {
        background: url('../img/arrow_right_w.svg') no-repeat !important;
      }
    }
  }
  &_3 {
    background: url('../img/project_3.png') no-repeat !important;
    background-position: center !important;
    background-size: cover !important;

    .works-item {
      .title {
        color: #292933 !important;
      }
      .description {
        color: #292933 !important;
      }

      .link {
        color: #292933 !important;
      }

      .arrow {
        background: url('../img/arrow_right.svg') no-repeat !important;
      }
    }
  }
  &_4 {
    background: url('../img/project_4.png') no-repeat !important;
    background-position: center !important;
    background-size: cover !important;

    .works-item {
      .title {
        color: #fff !important;
      }
      .description {
        color: #fff !important;
      }

      .link {
        color: #fff !important;
      }

      .arrow {
        background: url('../img/arrow_right_w.svg') no-repeat !important;
      }
    }
  }
}

.color_project {

  &_1 {
    .works-item {
      .title {
        color: #292933;
      }
      .description {
        color: #292933;
      }

      .link {
        color: #292933;
      }

      .arrow {
        background: url('../img/arrow_right.svg') no-repeat;
      }
    }
  }

  &_2 {

    .works-item {
      .title {
        color: #fff;
      }
      .description {
        color: #fff;
      }

      .link {
        color: #fff;
      }

      .arrow {
        background: url('../img/arrow_right_w.svg') no-repeat;
      }
    }
  }

  &_3 {
    .works-item {
      .title {
        color: #292933;
      }
      .description {
        color: #292933;
      }

      .link {
        color: #292933;
      }

      .arrow {
        background: url('../img/arrow_right.svg') no-repeat;
      }
    }
  }

  &_4 {
    .works-item {
      .title {
        color: #fff;
      }
      .description {
        color: #fff;
      }

      .link {
        color: #fff;
      }

      .arrow {
        background: url('../img/arrow_right_w.svg') no-repeat;
      }
    }
  }
}

.main-popup {
  display: inline-block;
  top: 17.5%;
  position: absolute;
  width: 30%;
  z-index: 2;
  right: 0;
  font-size: 0;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &-title {
    display: inline-block;
    transition: all 300ms ease;
    color: #fff;
    margin: 0 0 10px 0;
    font-family: 'extrabold';
    font-size: 36px;
  }

  &-button {
    outline: none;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    padding: 12 28 12 28;
    font-family: 'extrabold';
    vertical-align: top;
    width: calc(100% - 50px);
    height: 50px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 300ms ease;
    margin-top: 25px;
    background: rgba(255, 255, 255, 0.9);

    &:hover {
      background-color: #5054e9;
      border: 2px solid #5054e9;
      span {
        color: #fff;
      }
    }

    span {
      color: #292933;
      font-family: 'extrabold';
      font-size: 12px;
      letter-spacing: 1px;
      display: inline-block;
      text-transform: uppercase;
    }
  }

  &-close {
    margin-top: 2px;
    float: right;
    margin-right: 50px;
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 2px solid #fff;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: all 300ms ease;

    &:hover {
      transform: rotate(90deg);
    }

    .line-1 {
      margin-top: 13px;
      margin-left: 6px;
      width: 16px;
      height: 2px;
      background: #fff;
      position: absolute;
      transform: rotate(45deg)
    }

    .line-2 {
      margin-top: 13px;
      margin-left: 6px;
      width: 16px;
      height: 2px;
      background: #fff;
      position: absolute;
      transform: rotate(135deg);
    }
  }

  &-form {
    input {
      transition: all 300ms ease;
      font-size: 14px;
      font-family: 'bold';
      width: calc(100% - 50px);
      height: 50px;
      outline: none;
      color: #fff;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
      border-radius: 0px;
      border: 0;
      padding-top: 0;
      padding-bottom: 0;
      vertical-align: top;
      background: none;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-left: 0;
      border-right: 0;
      border-top: 0;
      margin-bottom: 15px;

      &:focus {
        border: 2px solid rgba(255, 255, 255, 1);
        border-left: 0;
        border-right: 0;
        border-top: 0;
      }
    }

    textarea {
      resize: none;
      margin-top: 15px;
      font-size: 14px;
      font-family: 'bold';
      width: calc(100% - 54px);
      height: 40px;
      outline: none;
      color: #fff;
      transition: all 300ms ease;
      border-radius: 0px;
      border: 0;
      padding-top: 0;
      padding-bottom: 0;
      vertical-align: top;
      background: none;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-left: 0;
      border-right: 0;
      border-top: 0;

      &:focus {
        border: 2px solid rgba(255, 255, 255, 1);
        border-left: 0;
        border-right: 0;
        border-top: 0;
        height: 100px;
      }
    }
  }
}
